<!--<div class="p-3">-->
<!--  <div class="card">-->
<!--    <div class="card-body">-->
<!--      <table *ngIf="reservations" class="table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--          <th>id</th>-->
<!--          <th>clientId</th>-->
<!--          <th>activityId</th>-->
<!--          <th>startDate</th>-->
<!--          <th>endDate</th>-->
<!--          <th>totalPrice</th>-->
<!--          <th>createdDate</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr *ngFor="let r of reservations">-->
<!--          <td>{{r.id}}</td>-->
<!--          <td>{{r.clientId}}</td>-->
<!--          <td>{{r.activityId}}</td>-->
<!--          <td>{{r.startDate}}</td>-->
<!--          <td>{{r.endDate}}</td>-->
<!--          <td>{{r.totalPrice}}</td>-->
<!--          <td>{{r.createdDate}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="container">
  <div>
    <div class="alert alert-danger alert-dismissible fade show my-4"  role="alert" >
      <strong>Error!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </div>
  <div class="card shadow my-4">
    <div class="card-header py-3 bg-dark d-flex align-items-center justify-content-between">
      <h6 class="m-0 fw-bold text-light">Reservations</h6>
      <button type="button" class="btn btn-primary fw-bold" data-bs-toggle="modal" data-bs-target="#competitionModal">
        Create Reservation
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th class="text-center">Activity</th>
            <th class="text-center">Client</th>
            <th class="text-center">Start Date</th>
            <th class="text-center">End Date</th>
            <th class="text-center">Total Price</th>
            <th class="text-center">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <div class="d-flex align-items-center">
                <img src="https://www.surfertoday.com/images/stories/surf-small-waves.jpg" alt="" style="width: 45px; height: 45px" class="rounded-circle">
                <div class="ms-3">
                  <p class="mb-1"><span class="fw-bold">Surfing</span></p>
                </div>
              </div>
            </td>
            <td class="text-center align-content-center">
              <p class="fw-normal mb-0">YOUNESS AHASLA</p>
            </td>
            <td class="text-center align-content-center">
              <p class="fw-normal mb-0"><span class="fw-bold">20-12-2029</span></p>
            </td>
            <td class="text-center align-content-center">
              <p class="fw-normal mb-0"><span class="fw-bold">20-12-2029</span></p>
            </td>
            <td class="text-center align-content-center">
              <p class="fw-normal mb-0">320MAD</p>
            </td>
            <td class="d-flex justify-content-around align-items-center p-3">
              <button type="button" class="btn btn-danger">Delete</button>
              <button type="button" class="btn btn-warning">Update</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="competitionModal" tabindex="-1" aria-labelledby="competitionModal" aria-hidden="true">

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Agency Modal</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form >
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="location-input">Location</label>
                <input type="text" name="location" class="form-control" id="location-input">
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="amount-inputZip">Amount</label>
                <input type="number"  name="amount" class="form-control" id="amount-inputZip">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="amount-inputZip">Number of Participants</label>
              <input type="number"   name="numberOfParticipants" class="form-control" id="number-of-participants">
            </div>
          </div>
          <div class="row">
            <div class="mb-3">
              <label for="Date-input">Competition date </label>
              <input type="date"name="date" class="form-control" id="Date-input" />
            </div>
            <div class="mb-3">
              <label for="start-time-inputCity">Start Time</label>
              <input type="time"  name="startTime" class="form-control" id="start-time-inputCity">
            </div>
            <div class="mb-3">
              <label for="end-time-inputState">End Time</label>
              <input type="time"  name="endTime" id="end-time-inputState" class="form-control"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
